html, body {
  height: 100%;
}

#filter-results {
   overflow-y: hidden;
}

#filter-results td {
  font-size: .75em;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 576px) {
  .container, .container-sm, .container-md {
    max-width: 95%;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 97%;
  }
}
